.app-main {
  background: linear-gradient(-65deg, #00ff33, #00d0ff);
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  text-align: center;
}

.detailed-forecast {
  width: 90vw
}

.detailed-day-forecast {
  margin: 2% 0% 2% 0%;
}

.loading-msg {
  color: rgb(255, 102, 0);
  font-size: 1.3rem;
  font-weight: 600;
  width: 80vw;
  text-align: center;
}